<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Game Reviews - Game - {{ game.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <link href="../css/global.css" type="text/css" rel="stylesheet" />
    <script src="../js/global.js" type="text/javascript"></script>
    
		<link href="../css/loginRegistration.css" type="text/css" rel="stylesheet" />
    <script src="../js/loginRegistration.js" type="text/javascript"></script>
    
    <link href="../css/game.css" type="text/css" rel="stylesheet" />
    <script src="../js/game.js" type="text/javascript"></script>
    
    <link href="../css/review.css" type="text/css" rel="stylesheet" />
    <script src="../js/review.js" type="text/javascript"></script>
	</head>
  <body>
    {{> loginRegistration }}

    <div id="game">
      <img id="gameBanner" src="{{game.banner}}"/>
      <h1 id="gameTitle">{{game.title}}</h1>
      <div id="gameInfo">
        <p><span>Developer</span>{{game.developer}}</p>
        <p><span>Publisher</span>{{game.publisher}}</p>
        <p id="gameStore"><span>Store</span><a href="{{game.store}}" target="_blank"><img src="../img/steam-logo.png"/></a></p>
        <p><span>Release Date</span><time datetime="{{game.releaseDate}}">{{game.releaseDate}}</time></p>
        <p><span>Tags</span>{{game.tags}}</p>
        <p><span>Summary</span>{{game.summary}}</p>
        <p><span>Description</span>{{game.description}}</p>
        <a onclick="show('fullDescription', event)">Read <br/> more</a>
      </div>
      {{#if administrator}}
      <button id="edit" onclick="show('updateGame', event)">Edit</button>
      {{/if}}
    </div>
    
    <div class="popup" onclick="hide('fullDescription', event)">
      <div id="fullDescription">{{game.description}}</div>
    </div>
    
    <div class="popup" onclick="hide('updateGame', event)">
      <form id="updateGame" onsubmit="updateGame(event)">
        <h1>Create new game</h1>
        <hr/>
        {{> gameFields }}
      	<input type="submit" value="Update">
      </form>
    </div>
  
    <form id="writeShortReview" onsubmit="writeShortReview(event)">
      <label for="positive">👍</label>
      <input type="radio" name="rating" id="positive" value="1" required/>
      <label for="negative">👎</label>
      <input type="radio" name="rating" id="negative" value="-1" required/>
      <textarea id="shortReviewBody" name="shortReviewBody" rows="1" required></textarea>
      <input type="submit" value="Post"/>
    </form>  
    
    <div id="shortReviews">
      {{#each shortReviews}}
      <div class="shortReview">
        <p>{{author}}</p>
        <p>{{body}}</p>
        <p>{{created}}</p>
        <button>Flag</button>
        <button>Edit</button>
      </div>
      {{/each}}
    </div>
    
    <form id="writeLongReview" onsubmit="writeLongReview(event)">
      <input type="number" name="rating" min="0" max="100" required/>
      <textarea id="longReviewBody" name="longReviewBody" rows="1" required></textarea>
      <input type="submit" value="Preview"/>
      <input type="submit" value="Post"/>
    </form> 
    
    <div id="longReviews">
      
    </div>

  </body>

</html>
