<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Game Reviews - Game - {{ game.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <link href="../css/global.css" type="text/css" rel="stylesheet" />
    <script src="../js/global.js" type="text/javascript"></script>
    
		<link href="../css/loginRegistration.css" type="text/css" rel="stylesheet" />
    <script src="../js/loginRegistration.js" type="text/javascript"></script>
    
    <link href="../css/game.css" type="text/css" rel="stylesheet" />
    <script src="../js/game.js" type="text/javascript"></script>
	</head>
  <body>
    {{> loginRegistration }}

    <div id="game">
      <img id="banner" src="https://steamcdn-a.akamaihd.net/steam/apps/{{game.steamAppID}}/library_hero.jpg"/>
      <h1 id="title">{{game.title}}</h1>
      <div id="info">
        <p id="developer"><span>Developer</span>{{game.developer}}</p>
        <p id="publisher"><span>Publisher</span>{{game.publisher}}</p>
        <p id="store"><span>Store</span><a href="{{game.store}}" target="_blank"><img src="../img/steam-logo.png"/></a></p>
        <p id="releaseDate"><span>Release Date</span><time datetime="{{game.releaseDate}}">{{game.releaseDate}}</time></p>
        <p id="tags"><span>Tags</span>{{game.tags}}</p>
        <p id="summary"><span>Summary</span>{{game.summary}}</p>
        <p id="description"><span>Description</span>{{game.description}}</p>
        <a onclick="show('fullDescription', event)">Read <br/> more</a>
      </div>
    </div>
    
    <div class="popup" onclick="hide('fullDescription', event)">
      <div id="fullDescription">{{game.description}}</div>
    </div>
    
  </body>

</html>
