<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Game Reviews - Game - {{ game.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <link href="../css/global.css" type="text/css" rel="stylesheet" />
    <script src="../js/global.js" type="text/javascript"></script>
    
		<link href="../css/loginRegistration.css" type="text/css" rel="stylesheet" />
    <script src="../js/loginRegistration.js" type="text/javascript"></script>
    
    <link href="../css/game.css" type="text/css" rel="stylesheet" />
    <script src="../js/game.js" type="text/javascript"></script>
    
    <link href="../css/review.css" type="text/css" rel="stylesheet" />
    <script src="../js/review.js" type="text/javascript"></script>
	</head>
  <body>
    {{> loginRegistration }}

    <div id="game">
      <img id="gameBanner" src="{{game.banner}}"/>
      <h1 id="gameTitle">{{game.title}}</h1>
      <div id="gameInfo">
        <p><span>Developer</span>{{game.developer}}</p>
        <p><span>Publisher</span>{{game.publisher}}</p>
        <p id="gameStore"><span>Store</span><a href="{{game.store}}" target="_blank"><img src="../img/steam-logo.png"/></a></p>
        <p><span>Release Date</span><time datetime="{{game.releaseDate}}">{{game.releaseDate}}</time></p>
        <p><span>Tags</span>{{game.tags}}</p>
        <p><span>Summary</span>{{game.summary}}</p>
        <p><span>Description</span>{{game.description}}</p>
        <a onclick="show('fullDescription', event)">Read <br/> more</a>
      </div>
      {{#if administrator}}
      <button id="edit" onclick="show('updateGame', event)">Edit</button>
      {{/if}}
    </div>
    
    <div class="popup" onclick="hide('fullDescription', event)">
      <div id="fullDescription">{{game.description}}</div>
    </div>
    
    <div class="popup" onclick="hide('updateGame', event)">
      <form id="updateGame" onsubmit="updateGame(event)">
        <h1>Create new game</h1>
        <hr/>
        {{> gameFields }}
      	<input type="submit" value="Update">
      </form>
    </div>
  
    <div id="reviews">
      <div id="short">
        {{#if username}}
        <form id="writeShortReview" onsubmit="writeShortReview('{{game.id}}', event)">
          <label for="positive">👍</label>
          <input type="radio" name="rating" id="positive" value="1" required/>
          <label for="negative">👎</label>
          <input type="radio" name="rating" id="negative" value="-1" required/>
          <input type="submit" value="Post"/>
          <textarea id="shortReviewBody" name="body" rows="1" required></textarea>
        </form>  
        {{/if}}
        
        <div id="shortReviews">
          {{#each shortReviews}}
          
          <div class="shortReview">
            {{#if (equal rating 1)}}
              <p>👍</p>
            {{else}}
              <p>👎</p>
            {{/if}}
            <p>{{author}}</p>
            <p>{{body}}</p>
            <p>{{posted}}</p>
            <button>Flag</button>
            <button>Edit</button>
          </div>
          {{/each}}
        </div>
      </div>
      
      <div id="long">
        {{#if username}}
        <form id="writeLongReview" onsubmit="writeLongReview(event)">
          <input type="number" name="rating" min="0" max="100" required/>
          <textarea id="longReviewBody" name="longReviewBody" rows="1" required></textarea>
          <input type="submit" value="Preview"/>
          <input type="submit" value="Post"/>
        </form> 
        {{/if}}
      
        
        <div id="longReviews">
          
        </div>
      </div>
    </div>
  </body>

</html>
