<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Game Reviews - Game - {{ game.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <link href="../css/global.css" type="text/css" rel="stylesheet" />
    <script src="../js/global.js" type="text/javascript"></script>
    
		<link href="../css/loginRegistration.css" type="text/css" rel="stylesheet" />
    <script src="../js/loginRegistration.js" type="text/javascript"></script>
    
    <link href="../css/game.css" type="text/css" rel="stylesheet" />
    <script src="../js/game.js" type="text/javascript"></script>
    
    <link href="../css/review.css" type="text/css" rel="stylesheet" />
    <script src="../js/review.js" type="text/javascript"></script>
	</head>
  <body>
    {{> loginRegistration }}

    <div id="game">
      <img id="gameBanner" src="{{game.banner}}"/>
      <h1 id="gameTitle">{{game.title}}</h1>
      <div id="gameInfo">
        <p><span>Developer</span>{{game.developer}}</p>
        <p><span>Publisher</span>{{game.publisher}}</p>
        <p id="gameStore"><span>Store</span><a href="{{game.store}}" target="_blank"><img src="../img/steam-logo.png"/></a></p>
        <p><span>Release Date</span><time datetime="{{game.releaseDate}}">{{game.releaseDate}}</time></p>
        <p><span>Tags</span>{{game.tags}}</p>
        <p><span>Summary</span>{{game.summary}}</p>
        <p><span>Description</span>{{game.description}}</p>
        <a onclick="show('fullDescription', event)">Read <br/> more</a>
      </div>
      {{#if administrator}}
      <button id="edit" onclick="show('updateGame', event)">Edit</button>
      {{/if}}
    </div>
    
    <div class="popup" onclick="hide('fullDescription', event)">
      <div id="fullDescription">{{game.description}}</div>
    </div>
    
    <div class="popup" onclick="hide('updateGame', event)">
      <form id="updateGame" onsubmit="updateGame(event)">
        <h1>Create new game</h1>
        <hr/>
        {{> gameFields }}
      	<input type="submit" value="Update">
      </form>
    </div>
  
    <div id="reviews">
      <div id="short">
        {{#if username}}
        <form id="writeshortReview" onsubmit="review('{{game.id}}', 'short', event)">
          <label for="positive">👍</label>
          <input type="radio" name="rating" id="positive" value="1" required {{#if (equal userShortReviewed.rating 1)}} checked{{/if}}/>
          <label for="negative">👎</label>
          <input type="radio" name="rating" id="negative" value="-1" required {{#if (equal userShortReviewed.rating -1)}} checked{{/if}}/>
          <input type="submit" value="{{#if userShortReviewed.body}}Update{{else}}Post{{/if}}"/>
          <textarea id="shortReviewBody" name="body" rows="1" required>{{userShortReviewed.body}}</textarea>
        </form>  
        {{/if}}
        
        <div id="shortReviewCount">
          <p id="emoji">{{emoji}}</p>
          <div class="label">
            <p>Positive</p>
            <p>Negative</p>
          </div>
          <div class="bars">
            <div class="bar" style="width:{{positivePercent}}%"><p>{{positiveCount}} ({{positivePercent}}%)</p></div>
            <div class="bar" style="width:{{negativePercent}}%"><p>{{negativeCount}} ({{negativePercent}}%)</p></div>
          </div>
        </div>
        
        <div id="shortReviews">
          {{#each shortReviews}}
          
          {{#if (equal rating 1)}}
          <div class="shortReview positive">
            <div class="header">
              <p class="rating">👍 Recommended</p>
          {{else}}
          <div class="shortReview negative">
            <div class="header">
              <p class="rating ">👎 Not recommended</p>
          {{/if}}
              <p class="author">by <a href="/members/{{author}}">{{author}}</a></p>
              <div class="buttons">
                <button class="visibility">V</button>
                <button class="flag">F</button>
                <button class="edit">E</button>
              </div>
            </div>
            <hr/>
            <div class="middle">
              <div class="votes">
                <button class="upvote"></button>
                <p class="score">0</p>
                <button class="downvote"></button>
              </div>
              <p class="body">{{body}}</p>
            </div>
            <hr/>
            <div class="footer">
              <a>Read comments (12)</a>
              <div class="dates">
                <p class="posted">Posted: <time datetime="{{posted}}">{{posted}}</time></p>
                {{#if edited}}
                <span>|</span>
                <p class="edited">Edited: <time datetime="{{edited}}">{{edited}}</time></p>
                {{/if}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        
        {{#if nextShortReviews}}
        <a href="{{nextShortReviews}}">More reviews</a>
        {{/if}}
      </div>
      
      <div id="long">
        {{#if username}}
        <form id="writelongReview" onsubmit="review('{{game.id}}', 'long', event)">
          <input type="number" name="rating" min="0" max="100" required/>
          <textarea id="longReviewBody" name="body" rows="1" required></textarea>
          <input type="submit" value="Preview"/>
          <input type="submit" value="Post"/>
        </form> 
        {{/if}}
        
        <div id="histogram">
          <div class="bars">
            {{#each histogram}}
            <div class="bar">
              {{#if (equal count 0)}}{{else}}
              <div class="filled" style="height:{{percent}}%">
                <span>{{rating}}</span>
              </div>
              <p>{{count}}</p>
              {{/if}}
            </div>
            {{/each}}
          </div>
        </div>
      
        <div id="longReviews">
          {{#each longReviews}}
          
          <div class="shortReview positive">
            <div class="header">
              <p class="rating">{{rating}}</p>
              <p class="author">by <a href="/members/{{author}}">{{author}}</a></p>
              <div class="buttons">
                <button class="visibility">V</button>
                <button class="flag">F</button>
                <button class="edit">E</button>
              </div>
            </div>
            <hr/>
            <div class="middle">
              <div class="votes">
                <button class="upvote"></button>
                <p class="score">0</p>
                <button class="downvote"></button>
              </div>
              <p class="body">{{body}}</p>
            </div>
            <hr/>
            <div class="footer">
              <a>Read comments (12)</a>
              <div class="dates">
                <p class="posted">Posted: <time datetime="{{posted}}">{{posted}}</time></p>
                {{#if edited}}
                <span>|</span>
                <p class="edited">Edited: <time datetime="{{edited}}">{{edited}}</time></p>
                {{/if}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        
        {{#if nextShortReviews}}
        <a href="{{nextShortReviews}}">More reviews</a>
        {{/if}}
        </div>
      </div>
    </div>
  </body>

</html>
