<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Game Reviews - Games</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <link href="../css/global.css" type="text/css" rel="stylesheet" />
    <script src="../js/global.js" type="text/javascript"></script>
    
		<link href="../css/loginRegistration.css" type="text/css" rel="stylesheet" />
    <script src="../js/loginRegistration.js" type="text/javascript"></script>
    
    <link href="../css/games.css" type="text/css" rel="stylesheet" />
    <script src="../js/games.js" type="text/javascript"></script>
	</head>
  <body>
    {{> loginRegistration }}
    
    <div id="games">
      {{#each categories}}
        <h1>{{@key}}</h1>
        <div class="category">  
          {{#each this}}
          <a href="/games/{{id}}">
            <div class="game">
              {{#if thumbnail}}
              <img width="600" height="900" src="{{thumbnail}}"/>
              {{else}}
              <img width="600" height="900" src="https://steamcdn-a.akamaihd.net/steam/apps/{{steamAppID}}/library_600x900_2x.jpg"/>
              {{/if}}
            </div>
          </a>
          {{/each}}
          {{#if ../administrator}}
          <button class="addGameButton" onclick="show('addGame')">+</button>
          {{/if}}
        </div>
      {{else}}
        {{#if administrator}}
        <button class="addGameButton" onclick="show('addGame')">+</button>
        {{/if}}
      {{/each}}
    </div>

    {{#if administrator}}
    <div class="popup" onclick="hide('addGame', event)">
      <form id="addGame" onsubmit="addGame(event)">
        <h1>Create new game</h1>
        <hr/>
        {{> gameFields }}
      	<input type="submit" value="Create">
      </form>
    </div>
    {{/if}}
    
  </body>

</html>
