<fieldset>
  <div class="input_header">
  	<label for="steamAppID">Steam App ID</label>
    <p class="error GAME_STEAM_APP_ID_MISSING">This field is required</p>
  </div>
  <input type="text" id="steamAppID" name="steamAppID" value="{{game.steamAppID}}" required/>
  
  <div class="input_header">
  	<label for="title">Title</label>
    <p class="error GAME_TITLE_MISSING">This field is required</p>
  </div>
  <input type="text" id="title" name="title" value="{{game.title}}" required/>
  <p class="error GAME_TITLE_IN_USE">Title in use</p>

  <div class="input_header">
  	<label for="summary">Summary</label>
    <p class="error GAME_SUMMARY_MISSING">This field is required</p>
  </div>
  <input type="text" id="summary" name="summary" value="{{game.summary}}" required/>
</fieldset>

<fieldset>
  <legend>Optional</legend>
  
  <div>
  	<label for="developer">Developer</label>
    <input type="text" id="developer" name="developer" value="{{game.developer}}"/>
    
  	<label for="publisher">Publisher</label>
    <input type="text" id="publisher" name="publisher" value="{{game.publisher}}"/>
    
    <label for="tags">Tags</label>
    <input type="text" id="tags" name="tags" value="{{game.tags}}"/>
    
  	<label for="description">Description</label>
    <textarea id="description" name="description" rows="1">{{game.description}}</textarea>
  </div>
  
  <div>
  	<label for="store">Store</label>
    <input type="text" id="store" name="store" value="{{game.store}}"/>
    
   	<label for="thumbnail">Thumbnail</label>
    <input type="text" id="thumbnail" name="thumbnail" value="{{game.thumbnail}}"/>
  
   	<label for="banner">Banner</label>
    <input type="text" id="banner" name="banner" value="{{game.banner}}"/>

    <label for="releaseDate">Release date</label>
    <input type="date" id="releaseDate" name="releaseDate" value="{{game.releaseDate}}"/>
  </div>

</fieldset>
